@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap");
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
body {
  background: #343a40 !important;
}

.vh-100-minus {
  height: calc(100vh - 56px);
}

.vh-100 {
  height: 100vh;
}

.vh-custom {
  height: 92vh;
}

.overlay-img {
  background: rgba(#333, 0.5);
}

.text-shadow {
  text-shadow: 0px 0px 5px #000000;
}

.fixed-card-size {
  height: 250px;
  background-position: center !important;
  background-size: cover !important;
}

.display-5 {
  font-size: 3rem;
}

.center-vertical {
  width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(2.5%, -50%);
}

.border-thick {
  border-width: 3px !important;
}

.matrix {
  transform: skew(-35deg);
}
.skew-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.skew-background {
  top: 0;
  z-index: 1;
  background: #f2c010;
  position: relative;
  transform: skewX(-20deg);
  left: 50%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.zIndex {
  z-index: 10;
}

.text-black {
  color: #000 !important;
}

.custom-white-space {
  white-space: pre-wrap;
}
